<div class="container">
  <div class="row">
    <div class=" text-center my-3">
      <h3 class="text-white ">{{title}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-9 col-md-8 col-lg-4 mx-auto">
      <form action="" class="input-group mb-3" (submit)="handleAddtodo()">
        <input type="text" class="form-control" placeholder="Enter your task" [(ngModel)]="todoList.task" name="task" />
        <button class="btn btn-outline-secondary text-white" type="button" (click)="handleAddtodo()">
          <span *ngIf="!todoList.update;else addAndUpdate">
            Add
          </span>
          <ng-template #addAndUpdate>Update</ng-template>
        </button>
        <button class="btn btn-danger text-white btn-outline-secondary" type="button" (click)="handleClear()">
          Clear
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-8 col-md-6 col-lg-3  mx-auto  overflow-auto">
      <div class="card mt-2 " *ngFor="let item of todoList.todoList">
        <div class="card-body">
          <p class="card-text" [ngClass]="item.check?'text-decoration-line-through':'' ">
            {{item.task}}
          </p>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger" checked="item.check" (click)="handleRemove(item.id)">
              Delete
            </button>
            <label class="btn" [ngClass]="item.check? 'btn-primary': 'btn-outline-primary'">
              <input type="checkbox" class="btn-check" (click)="handleCheck(item.id)">
              check
            </label>
            <button type="button" class="btn btn-success" (click)="handleEdit(item.id)" [disabled]="item.check">
              edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
